span.sample1 {
	position: absolute;
	top: 85px;
	left: 440px
}

span.sample2 {
	position: absolute;
	top: 85px;
	left: 590px
}

span.sample3 {
	position: absolute;
	top: 117px;
	left: 590px
}

span.sample4 {
	position: absolute;
	top: 145px;
	left: 590px
}

span.sample5 {
	position: absolute;
	top: 145px;
	left: 440px
}

span.sample6 {
	position: absolute;
	top: 145px;
	left: 590px
}

span.sample7 {
	position: absolute;
	top: 177px;
	left: 590px
}

span.sample8 {
	position: absolute;
	top: 145px;
	left: 440px
}

span.sample9 {
	position: absolute;
	top: 145px;
	left: 590px
}

span.sample10 {
	position: absolute;
	top: 210px;
	left: 730px
}

span.sample11 {
	position: absolute;
	top: 205px;
	left: 780px
}

span.sample12 {
	position: absolute;
	top: 210px;
	left: 780px
}

span.sample13 {
	position: absolute;
	top: 242px;
	left: 590px
}

span.sample14 {
	position: absolute;
	top: 270px;
	left: 440px
}

span.sample15 {
	position: absolute;
	top: 270px;
	left: 590px
}

span.sample16 {
	position: absolute;
	top: 270px;
	left: 710px
}

span.sample17 {
	position: absolute;
	top: 270px;
	left: 780px
}

span.sample18 {
	position: absolute;
	top: 302px;
	left: 590px
}

span.sample19 {
	position: absolute;
	top: 330px;
	left: 440px
}

span.sample20 {
	position: absolute;
	top: 330px;
	left: 590px
}

span.sample21 {
	position: absolute;
	top: 362px;
	left: 590px
}

span.sample22 {
	position: absolute;
	top: 388px;
	left: 440px
}

span.sample23 {
	position: absolute;
	top: 386px;
	left: 590px
}

span.sample24 {
	position: absolute;
	top: 446px;
	left: 440px
}

span.sample25 {
	position: absolute;
	top: 444px;
	left: 590px
}

span.sample26 {
	position: absolute;
	top: 502px;
	left: 440px
}

span.sample27 {
	position: absolute;
	top: 507px;
	left: 590px
}

span.sample28 {
	position: absolute;
	top: 960px;
	left: 620px
}

span.sample29 {
	position: absolute;
	top: 960px;
	left: 700px
}

span.sample30 {
	position: absolute;
	top: 9910px;
	left: 700px
}

span.sample31 {
	position: absolute;
	top: 563px;
	left: 438px
}

span.sample32 {
	position: absolute;
	top: 560px;
	left: 590px
}

span.sample33 {
	position: absolute;
	top: 620px;
	left: 440px
}

span.sample34 {
	position: absolute;
	top: 620px;
	left: 590px
}

span.sample35 {
	position: absolute;
	top: 678px;
	left: 440px
}

span.sample36 {
	position: absolute;
	top: 678px;
	left: 590px
}

span.sample37 {
	position: absolute;
	top: 740px;
	left: 440px
}

span.sample38 {
	position: absolute;
	top: 738px;
	left: 590px
}

span.sample39 {
	position: absolute;
	top: 746px;
	left: 590px
}

span.sample40 {
	position: absolute;
	top: 800px;
	left: 440px
}

span.sample41 {
	position: absolute;
	top: 798px;
	left: 590px
}

span.sample42 {
	position: absolute;
	top: 832px;
	left: 590px
}

span.sample43 {
	position: absolute;
	top: 862px;
	left: 440px
}

span.sample44 {
	position: absolute;
	top: 860px;
	left: 590px
}

span.sample45 {
	position: absolute;
	top: 890px;
	left: 590px
}

span.sample46 {
	position: absolute;
	top: 923px;
	left: 441px
}

span.sample47 {
	position: absolute;
	top: 175px;
	left: 590px
}

span.sample48 {
	position: absolute;
	top: 205px;
	left: 590px
}

span.sample49 {
	position: absolute;
	top: 205px;
	left: 440px
}

span.sample50 {
	position: absolute;
	top: 147px;
	left: 730px
}

span.sample51 {
	position: absolute;
	top: 147px;
	left: 780px
}

span.sample52 {
	position: absolute;
	top: 147px;
	left: 780px
}

span.sample53 {
	position: absolute;
	top: 177px;
	left: 590px
}

span.sample54 {
	position: absolute;
	top: 207px;
	left: 440px
}

span.sample55 {
	position: absolute;
	top: 207px;
	left: 590px
}

span.sample56 {
	position: absolute;
	top: 207px;
	left: 710px
}

span.sample57 {
	position: absolute;
	top: 207px;
	left: 780px
}

span.sample58 {
	position: absolute;
	top: 237px;
	left: 590px
}

span.sample59 {
	position: absolute;
	top: 267px;
	left: 440px
}

span.sample60 {
	position: absolute;
	top: 267px;
	left: 590px
}
span.sample61 {
	position: absolute;
	top: 297px;
	left: 590px
}
span.sample62 {
	position: absolute;
	top: 327px;
	left: 440px
}
span.sample63 {
	position: absolute;
	top: 327px;
	left: 590px
}
span.sample64 {
	position: absolute;
	top: 357px;
	left: 590px
}
span.sample65 {
	position: absolute;
	top: 415px;
	left: 590px
}
span.sample66 {
	position: absolute;
	top: 387px;
	left: 440px
}
span.sample67 {
	position: absolute;
	top: 383px;
	left: 590px
}
span.sample68 {
	position: absolute;
	top: 415px;
	left: 590px
}
span.sample69 {
	position: absolute;
	top: 475px;
	left: 590px
}
span.sample70 {
	position: absolute;
	top: 447px;
	left: 590px
}
span.sample71 {
	position: absolute;
	top: 447px;
	left: 440px
}
span.sample72 {
	position: absolute;
	top: 507px;
	left: 440px
}
span.sample73 {
	position: absolute;
	top: 504px;
	left: 590px
}
span.sample74 {
	position: absolute;
	top: 536px;
	left: 590px
}
span.sample75 {
	position: absolute;
	top: 651px;
	left: 590px
}
span.sample77 {
	position: absolute;
	top: 566px;
	left: 440px
}
span.sample78 {
	position: absolute;
	top: 566px;
	left: 590px
}
span.sample79 {
	position: absolute;
	top: 597px;
	left: 590px
}
span.sample80 {
	position: absolute;
	top: 710px;
	left: 590px
}
span.sample81 {
	position: absolute;
	top: 629px;
	left: 440px
}
span.sample82 {
	position: absolute;
	top: 627px;
	left: 590px
}
span.sample83 {
	position: absolute;
	top: 633px;
	left: 590px
}
span.sample84 {
	position: absolute;
	top: 693px;
	left: 440px
}
span.sample85 {
	position: absolute;
	top: 693px;
	left: 590px
}
span.sample86 {
	position: absolute;
	top: 725px;
	left: 590px
}
span.sample87 {
	position: absolute;
	top: 795px;
	left: 440px
}
span.sample88 {
	position: absolute;
	top: 755px;
	left: 590px
}
span.sample89 {
	position: absolute;
	top: 785px;
	left: 590px
}
span.sample90 {
	position: absolute;
	top: 815px;
	left: 440px
}
span.sample91 {
	position: absolute;
	top: 860px;
	left: 620px
}
span.sample92 {
	position: absolute;
	top: 860px;
	left: 700px
}
span.sample93 {
	position: absolute;
	top: 590px;
	left: 590px
}
span.sample94 {
	position: absolute;
	top: 475px;
	left: 590px
}
span.sample95 {
	position: absolute;
	top: 415px;
	left: 590px
}
span.sample96 {
	position: absolute;
	top: 355px;
	left: 590px
}
select {
	font-size: 15px;
}