span.sample97 {
	position: absolute;
	top: 5px;
	right: 0px
}
span.sample98 {
	position: absolute;
	top: 565px;
	left: 440px
}
span.sample99 {
	position: absolute;
	top: 565px;
	left: 590px
}
span.sample100 {
	position: absolute;
	top: 658px;
	left: 590px
}
span.sample101 {
	position: absolute;
	top: 687px;
	left: 590px
}
span.sample102 {
	position: absolute;
	top: 687px;
	left: 440px
}
span.sample103 {
	position: absolute;
	top: 695px;
	left: 590px
}
span.sample104 {
	position: absolute;
	top: 747px;
	left: 590px
}
span.sample105 {
	position: absolute;
	top: 747px;
	left: 440px
}
span.sample106 {
	position: absolute;
	top: 779px;
	left: 590px
}
span.sample107 {
	position: absolute;
	top: 809px;
	left: 590px
}
span.sample108 {
	position: absolute;
	top: 809px;
	left: 440px
}
span.sample109 {
	position: absolute;
	top: 841px;
	left: 590px
}
span.sample110 {
	position: absolute;
	top: 900px;
	left: 440px
}
span.sample111 {
	position: absolute;
	top: 920px;
	left: 620px
}

span.sample112 {
	position: absolute;
	top: 920px;
	left: 700px
}