.img_class{
	width: 100%;
	height: 100px;
}

.img{
	height: 60px;
	width: 150px;
	float: right;

}
.wrapper{
	height: 10rem;
  	text-align: center;
}

div{
	margin: 0,auto;
}

.login_form {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	}
.login_form ul { /*ul要素を初期化*/
	padding:0;
	margin:0;
	}
.login_form ul li { /*li要素も初期化し、ボーダーなどを指定*/
	list-style:none; /*リストマーカー（●）を無しに*/
	padding: 2em;

	}
.login_form ul li:first-child { /*最初のli要素はボーダー無し*/
	border-top:none;
	}
.login_form span {
	width: 8em;
	display:inline-block;
	vertical-align:top;
	}
.login_form .txtfiled{
	width:20%;
	padding:3px 5px;
	margin:0;
	}
.mail_btn{
	width: 120px;
    height: 50px;
	background-color: #a0d8ef;
	margin-left: 300px;
}

.back_btn{
	width: 120px;
    height: 50px;
	background-color: #eb6ea5;
	margin-right: 290px;
}

.notice{
	margin: 2em auto;
	padding: 1em;
	width: 51%;
	border: 3px dashed #c0c0c0; /*太さ・線種・色*/
	background-color: #FFF; /* 背景色 */
	border-radius: 1px; /*角の丸み*/
}

.login_form .login_submenu{
	font-size: 12px;
	margin-left: 300px;
}

.btn{
	width: 120px;
  height: 50px;
	right: 50px;
	background-color: #a0d8ef;
	position: relative;
}

.btn_back{
	width: 120px;
  height: 50px;
	background-color: #a0d8ef;
	position: absolute;
	margin-left: 30px;
	margin-top: -66px;
}
