span.sample3 {
	position: absolute;
	top: 62px;
	left: 650px
}

span.sample4 {
	position: absolute;
	top: 110px;
	left: 650px
}

span.sample5 {
	position: absolute;
	top: 62px;
	left: 500px
}

span.sample6 {
	position: absolute;
	top: 110px;
	left: 500px
}

span.sample7 {
	position: absolute;
	top: 160px;
	left: 650px
}

span.sample8 {
	position: absolute;
	top: 160px;
	left: 500px
}

span.sample9 {
	position: absolute;
	top: 209px;
	left: 650px
}

span.sample10 {
	position: absolute;
	top: 210px;
	left: 500px
}

span.sample11 {
	position: absolute;
	top: 86px;
	left: 572px
}

span.sample12 {
	position: absolute;
	top: 134px;
	left: 572px
}

span.button {
	color: #ff0000;
	position: absolute;
	top: 266px;
	right: 512px
}

span.button2 {
	color: #ff0000;
	position: absolute;
	top: 500px;
	left: 502px
}

span.button3 {
	color: #ff0000;
	position: absolute;
	top: 500px;
	left: 582px
}

span.button4 {
	color: #ff0000;
	position: absolute;
	top: 500px;
	left: 780px
}
span.sample97 {
	position: absolute;
	top: 5px;
	right: 0px
}
